$one: calc(1vw + 5vh);

.header {
  font-size: calc($one * .3);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: .8em .8em 5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  background: linear-gradient(
    to bottom, rgba(0, 0, 0, 0.4), transparent
  );

  user-select: none;
  -webkit-user-drag: none;

  .title {
    font-size: 1em;
    font-weight: 300;
    color: transparent;
    position: relative;
    white-space: nowrap;

    color: white;
    text-shadow: 0 0 2em rgba(0, 0, 0, .5);
  }

  .resources {
    display: flex;
    align-items: center;
    gap: 2em;
    
    .resource {
      display: flex;
      align-items: center;
      font-size: 1em;
      gap: .4em;

      font-weight: 200;

      .icon {
        position: relative;
        height: 1.2em;
        width: 1.2em;
        
        img {
          object-fit: contain;
        }
      }
    }
  }
}