$one: calc(1vw + 5vh);
$size: calc($one * 1.2);

.item {
  font-size: calc($one * .5);
  
  z-index: 0;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .1em;
  
  width: $size;
  transform: scale(.9);
  opacity: .8;

  transition: 1s ease;

  &.active {
    transform: scale(1);
    opacity: 1;

    .content {
      background: rgba(255, 167, 67, 0.5);
      box-shadow: 0 0 1.5em 0 rgba(255, 195, 32, 0.795);
      border-color: #ff9e20;
    }

    .from {
      background: #ff8c2e;
      font-weight: bold;
      opacity: 1;
    }

    .content {
      &::after,
      &::before {
        left: 200%;
      }
    }
  }

  .from {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    
    min-width: 3em;
    padding: .2em .5em;
    border-radius: 1em;

    background: black;
    font-size: .5em;
    opacity: .4;

    transition: .3s ease;
  }

  .line {
    height: .3em;
    width: .08em;
    border: none;
    background: #ffb26a;
  }

  .content {
    $borderSize: .06em;

    position: relative;
    font-size: calc($one * .5);
    width: calc(100% - $borderSize);
    aspect-ratio: 1 / 1;
    padding: .3em;
    background: rgba(0, 0, 0, .15);
    border: $borderSize solid transparent;
    transition: 1s ease;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
      height: 300%;
      
      background: white;
    }

    &::after {
      left: -80%;
      width: .3em;
      opacity: .5;
      transition: 1s ease .1s;
    }
  
    &::before {
      left: -130%;
      width: .8em;
      opacity: .8;
      transition: 1s ease-in-out;
    }

    &:hover {
      filter: brightness(90%) grayscale(100%);
      transition: .15s ease;
    }
  
    .image {
      position: relative;
      flex-shrink: 0;
  
      height: 100%;
      width: 100%;
      user-select: none;
      -webkit-user-drag: none;

      img {
        object-fit: contain;
      }
    }
  }
}